# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]  #configuraciones propias de mainsail

#[include adxl.cfg]    #Sensor de movimiento adxl345 para input shaper

#[include macro.cfg]    #conjunto de macros agregadas por mi

# host MCU service is preinstalled and ready to use with:
[mcu CB1]
serial: /tmp/klipper_host_mcu

#[mcu]  #USB
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00

[mcu]   #UART
serial: /dev/ttyS0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 2000
max_z_velocity: 10
max_z_accel: 500

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#####################################################################
#   X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 32
endstop_pin: tmc2209_stepper_x:virtual_endstop 
#endstop_pin: ^PC0
position_endstop: 0
position_max: 210
homing_speed: 30
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
diag_pin: ^PC0
uart_address: 0
run_current: 0.600
stealthchop_threshold: 999999     #modo silencioso llevamos el stealthchop a un valos imposible de alcanzar
driver_SGTHRS: 85   #sensibilidad del sensorless homing 0-255 - el mas sensible es 255

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 32
endstop_pin: tmc2209_stepper_y:virtual_endstop #porque usamos el sensor bltouch
#endstop_pin: ^PC1  #en caso de usar un final de carrera
position_endstop: -5
position_min: -5
position_max: 215
homing_speed: 30
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
diag_pin: ^PC1
uart_address: 2
run_current: 0.600
stealthchop_threshold: 999999    #modo silencioso llevamos el stealthchop a un valos imposible de alcanzar
driver_SGTHRS: 85   #sensibilidad del sensorless homing 0-255 - el mas sensible es 255

[input_shaper]
shaper_type_x: 2hump_ei
shaper_freq_x: 39.6
shaper_type_y: 3hump_ei
shaper_freq_y: 48.0

# shaper_type_y: mzv
# shaper_freq_y: 25.0

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 8
endstop_pin: probe: z_virtual_endstop 
#endstop_pin: ^PC2
#position_endstop: 0.0
position_min: -4
position_max: 180

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 1.200    #un valor de corriente alto porque manejamos los 2 motores del eje z con un solo driver
stealthchop_threshold: 999999     #modo silencioso llevamos el stealthchop a un valos imposible de alcanzar

#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 22.7836
gear_ratio: 50:17
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 200
heater_pin: PC8
sensor_type: ATC Semitec 104NT-4-R025H42G
#sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
# pid_kp = 32.632
# pid_ki = 4.351
# pid_kd = 61.185
min_temp: 0
max_temp: 260
min_extrude_temp: 170
pressure_advance: 0.08    #pressure advance = inicio + medicion de altura en mm * factor (0.005 extrusion directa o 0.020 bowden) = 0 + 16 * 0.005 = 0.08

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
stealthchop_threshold: 999999     #modo silencioso llevamos el stealthchop a un valos imposible de alcanzar

#####################################################################
#   Heater Bed
#####################################################################

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_Kp: 60.557
#pid_Ki: 1.979
#pid_Kd: 463.259
min_temp: 0
max_temp: 120

#####################################################################
#   BLTouch - Homing
#####################################################################

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
x_offset: 30
y_offset: 0
#z_offset: 3.800
samples: 1    #cantidad de sondeos en cada punto
#samples_result: median    #metodo de resultado del sondeo, en este caso promedia los valores obtenidos
#samples_tolerance: 0.1    #tolerancia de diferencia entre pruebas
#samples_tolerance_retries: 2    #cuantas veces reintentar en caso de que no da la tolerancia
speed: 5
set_output_mode: 5V    #setear el modo de 5V para bltouch 3.0 o 3.1, modos anteriores dejar por defecto que es 3.3V
#stow_on_each_sample: False     # para prueba
#probe_with_touch_mode: False     # para prueba

[safe_z_home]
home_xy_position: 75,105
#speed: 50
speed: 100
z_hop: 10
z_hop_speed: 10

[bed_mesh]
speed: 170
horizontal_move_z: 5
mesh_min: 50,20
mesh_max: 190,190
probe_count: 5,5
#fade_start: 1.0
#mesh_pps: 2,2

#####################################################################
#   Fan Control
#####################################################################

[heater_fan heatbreak_cooling_fan]
pin: PC7
heater: extruder
heater_temp: 50.0

[heater_fan controller_fan]
pin: PB15

[fan]
pin: PC6

#####################################################################
#   Automatic Save Config
#####################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 60.557
#*# pid_ki = 1.979
#*# pid_kd = 463.259
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 32.632
#*# pid_ki = 4.351
#*# pid_kd = 61.185
#*#
#*# [bltouch]
#*# z_offset = 3.800
#*#
#*# [bed_mesh I3 - 3masDe]
#*# version = 1
#*# points =
#*# 	-0.125000, 0.127500, -0.042500, 0.192500, 0.072500
#*# 	0.212500, 0.212500, 0.257500, 0.222500, 0.145000
#*# 	0.192500, 0.167500, 0.250000, 0.262500, 0.157500
#*# 	0.157500, 0.215000, 0.267500, 0.270000, 0.177500
#*# 	0.097500, 0.130000, 0.207500, 0.225000, 0.115000
#*# min_x = 50.0
#*# max_x = 190.0
#*# min_y = 20.0
#*# max_y = 190.0
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
